<!doctype html>
<html>
  <head>
    <title>HC comes first - Como funcionacontato</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png">
    <!-- icones -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <!-- font google -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- css interno -->
    <link rel="stylesheet" type="text/css" href="../css/design.css">
  </head>
  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="../index">HC Comes First</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../index">Página Inicial <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="sobre">Sobre</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="como-funciona">Como funciona</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a class="nav-link" href="#" data-toggle="modal" data-target="#myModal">Cadastre-se  <i class="fa fa-user-plus"></i></a></li>
      <li><a class="nav-link" href="#" data-toggle="modal" data-target="#mySecondModal">Faça seu login  <i class="fa fa-user"></i></a></li>
    </ul>
  </div>
</nav>
<!-- fim nav bar -->

<div class="bg-overlay" style="min-height: 850px;">    <!-- set background -->
<div class="container">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

<!-- Primeiro passo -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">1º Passo: </span>Cadastre-se </h2>
        <p class="lead">Cadastre-se em nosso sistema para iniciar a criação de suas pesquisas.</p>
      </div>
      <div class="col-md-5">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      </div>
    </div>

    <!-- <hr class="featurette-divider"> -->

<!-- Segundo passo -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">2º Passo: </span>Elaboração.</h2>
        <p class="lead">Crie suas perguntas, com até 4 opções de respostas e também espaço para comentários dos usuários.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      </div>
    </div>

    <!-- <hr class="featurette-divider"> -->

<!-- Terceiro passo -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">3º Passo: </span>Divulgação</h2>
        <p class="lead">Divulgue sua pesquisa, através de um link que será gerado após salvar a sua pesquisa.</p>
      </div>
      <div class="col-md-5">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      </div>
    </div>

<!-- Quarto passo -->
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><span class="text-muted">4º Passo: </span>Feedback.</h2>
        <p class="lead">Analise os resultados, seguindo as respostas de suas pesquisas no seu banco de dados.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      </div>
    </div>

<!-- Quinto passo -->
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><span class="text-muted">5º Passo: </span>Resultados</h2>
        <p class="lead">Aplique as melhorias em seus produtos e serviços. Vamos começar?</p>
      </div>
      <div class="col-md-5">
        <!-- <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image"> -->
      </div>
    </div>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Comece agora!</button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#mySecondModal">Já sou cadastrado</button>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="black" class="modal-title" id="myModalLabel">Seja um membro do HC - Cadastro</h4>
        <button type="button" class="close" data-dismiss="modal">
                   <span aria-hidden="true">&times;</span>
                   <span class="sr-only">Close</span>
        </button>
      </div>


      <!-- Modal Body -->
      <div class="modal-body">

        <form method="post" action="func/cadastro" id="formCadastro" role="form">
          <!-- nome da empresa -->
          <div class="black" class="form-group">
            <label for="nomeEmpresa">Nome da Empresa</label>
            <input type="text" class="form-control" id="nomeEmpresa" name="nomeEmpresa" placeholder="Nome da empresa" required="requiored">
          </div>
          <!-- email -->
          <div class="black" class="form-group">
            <label for="emailContato">Email</label>
            <input type="email" class="form-control" id="emailContato" name="emailContato" placeholder="Email" required="requiored">
          </div>
          <!-- senha -->
          <div class="black" class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a senha" required="requiored">
          </div>
          <!-- tipo de conta -->
          <div class="black" class="form-group">
            <label for="tipoConta">Tipo de Conta</label>
            <select class="form-control" id="tipoConta" name="tipoConta" required="requiored">
                  <option selected></option>
                  <option>Grátis</option>
              </select>
          </div>
          <!-- Ramo de atividade -->
          <div class="black" class="form-group">
            <label for="ramoAtividade">Ramo de Atividade</label>
            <select class="form-control" id="ramoAtividade" name="ramoAtividade" required="requiored">
                  <option selected></option>
                  <option>Hotél</option>
                  <option>Restaurante</option>
                  <option>Instituição de Ensino</option>
              </select>
          </div>
          <!-- <div class="checkbox">
          <label>
          <input type="checkbox"/> Check me out
          </label>
        </div> -->
          <div id="botao">
            <button type="submit" class="btn btn-primary">Cadastre-se</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- fim do modal -->

<!-- Modal Login -->
<div class="modal fade" id="mySecondModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
          <h4 class="black" class="modal-title" id="myModalLabel">Seja bem vindo, faça seu login</h4>
          <button type="button" class="close" data-dismiss="modal">
                 <span aria-hidden="true">&times;</span>
                 <span class="sr-only">Close</span>
          </button>
      </div>

      <!-- Modal Login Body -->
      <div class="modal-body">

        <form method="post" action="func/validarAcesso" id="formValidadaeAcesso" role="form">
          <!-- email -->
          <div class="black" class="form-group">
            <label for="emailContato">Email</label>
            <input type="email" class="form-control" id="emailContato" name="emailContato" placeholder="Email" required="requiored">
          </div>
          <!-- Fim email -->

          <!-- senha -->
          <div class="black" class="form-group">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" placeholder="Digite a senha" required="requiored">
          </div>
          <!-- Fim senha -->

          <!-- botão validar acesso -->
          <div id="botao">
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          </div>
          <!-- Fim botão validar acesso -->

        </form>
      </div><!-- Fim Modal Login Body -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  </body>
</html>
